<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="/calculator" method="post">
    <input type="text" name="input1" th:value="${input1}">
    <input type="text" name="input2" th:value="${input2}">
    <br>
    <button name="operator" value="add">Addition(+)</button>
    <button name="operator" value="sub">Subtraction(-)</button>
    <button name="operator" value="mul">Multiplication(*)</button>
    <button name="operator" value="div">Division(/)</button>
    <br>
    <span>Result: </span>
    <p th:text="${result}"></p>
</form>
<script>

</script>
</body>
</html>